In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset
my_dataset=load_dataset('lukebarousse/data_jobs')

c:\Users\FAIZAN AKHTAR\anaconda3\envs\pthon_data_project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading readme: 100%|██████████| 28.0/28.0 [00:00<?, ?B/s]
Downloading data: 100%|██████████| 231M/231M [00:14<00:00, 16.0MB/s]
Generating train split: 100%|██████████| 785741/785741 [00:04<00:00, 170575.93 examples/s]

In [6]:
df=my_dataset['train'].to_pandas()

In [7]:
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

In [8]:
df['job_posted_date']

0        2023-06-16 13:44:15
1        2023-01-14 13:18:07
2        2023-10-10 13:14:55
3        2023-07-04 13:01:41
4        2023-08-07 14:29:36
                 ...
785736   2023-03-13 06:16:16
785737   2023-03-12 06:18:18
785738   2023-03-12 06:32:36
785739   2023-03-12 06:32:15
785740   2023-03-13 06:16:31
Name: job_posted_date, Length: 785741, dtype: datetime64[ns]

In [17]:
df.loc[:, 'salary_rate': 'salary_hour_avg'].dropna(subset = 'salary_rate')

       salary_rate  salary_year_avg  salary_hour_avg
28            year         109500.0              NaN
43            hour              NaN             97.5
51            hour              NaN             72.5
77            year         140000.0              NaN
92            year         120000.0              NaN
...            ...              ...              ...
785624        year         139216.0              NaN
785641        year         150000.0              NaN
785648        year         221875.0              NaN
785682        year         157500.0              NaN
785692        year         157500.0              NaN

[33067 rows x 3 columns]